{% load static bootstrap i18n %}

{% get_current_language_bidi as LANGUAGE_BIDI%}
<!DOCTYPE html>
<html  {% if LANGUAGE_BIDI %} style="direction: rtl ;font-family: 'Montserrat', sans-serif"{% endif %} lang="{{ LANGUAGE_CODE }}" class="{% if LANGUAGE_CODE == 'ar' %}ar {% endif %} ">

<head class="back">
    <title>{% block title %} {% trans "Doctor Registration" %} {% endblock %}</title>

    {% include 'partials/_css.html' %}
    {% include 'partials/_js.html' %}
        {% include 'partials/_header.html' %}



    {% include 'partials/_pagination.html' %}
    {% include 'partials/_slider.html' %}
    {% include 'partials/_sidebar.html' %}


</head>


{% block content %}



    <div class="container">

        <div class="row justify-content-center">

            <div class="col-lg-5 mb-5 mb-lg-0">

                <center><h3>{% trans "Doctor Register" %}</h3></center>
                <form action="" method="POST">{% csrf_token %}

                    {{ form|bootstrap }}

                    <div class="row form-group">
                        <div class="col-md-12">
                            <input type="submit" value="Register" class="btn btn-primary btn-md text-white">
                        </div>
                    </div>


                </form>
            </div>

        </div>
    </div>

{% endblock %}
</html>