{% load static i18n %}
<!-- Gallery -->
<div class="row">
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
      <h1>{% trans "Students NAME and ID Numbers" %}</h1>
<div class="column">

    <h2>mouiad ali </h2>
<p>ID with name: mouiad_197974 </p>
<p>ID : 197974 </p>
</div>
<div class="column">
      <h2>mazen souda</h2>
<p>ID with name: mouiad_197974 </p>
<p>ID : 197974 </p>
</div>

      <h2> Milad Awad </h2>
<p>ID with name: milad_190621 </p>
<p>ID : 190621 </p>

      <h2> abdullah Ghazel </h2>
<p>ID with name: abdullah_198778 </p>
<p>ID : 198778 </p>


</div>
